<#@ template language="C#" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="CodeGenerator_Modules" #>
<# if (!IsAppendMode) { #>
using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using Microsoft.Data.SqlClient;
using <#= ModulesLayerNameSpace #>;
<# } #>


<# if (!IsAppendMode) { #>
namespace <#= NamespaceName #>
{
    public class <#= TableSingleName #>Repository
    {
<# } #>
<# if (IncludeAdd) { #>
        public static async Task<bool> AddAsync(cls<#= TableSingleName #> <#= TableSingleName #>)
        {
            if (<#= TableSingleName #> != null && <#= TableSingleName #>.IsFull())
            {
                SqlConnection? Connection = null;
                SqlCommand? Command = null;

                try
                {
                    Connection = new SqlConnection(clsConnectionString.ConnectionString);

                    string AddQuery = @"insert into [<#= TableName #>] (
<# for (short i = 0; i < Columns.Count; i++) { 
                                if (Columns[i].IsPrimaryKey)
                                            continue;#>
                             [<#= Columns[i].Name #>]<#= (i < Columns.Count - 1) ? ", " : " )" #>
<# } #>
                            values (
<# for (short i = 0; i < Columns.Count; i++) { 
                                    if (Columns[i].IsPrimaryKey)
                                            continue;#>
                             @<#= Columns[i].NameWithout_ #><#= (i < Columns.Count - 1) ? ", " : " );" #>
<# } #>
                             select Scope_Identity();";

                    Command = new SqlCommand(AddQuery, Connection);

<#= AddOrUpdateFunctionParamertersHandled(Columns) #>

                    await Connection.OpenAsync();

                    object? Obj = await Command.ExecuteScalarAsync();

                    if (Obj != null)
                    {
                        <#= AddFunctionResultHandles() #>
                        return true;
                    }
                }
                catch (Exception ex)
                {
                    clsEventLog.WriteToEventLog(ex.Message, enLogType.Error);
                }
                finally
                {
                    if (Command != null)
                    {
                        Command.Dispose();
                    }

                    if (Connection != null)
                    {
                        Connection.Close();
                        Connection.Dispose();
                    }
                }
            }

            return false;
        }
<# } #>

<# if (IncludeUpdate) { #>
        public static async Task<bool> UpdateAsync(cls<#= TableSingleName #> <#= TableSingleName #>)
        {
<#if (Columns.Find(x => x.Name == UpdateParameterName).Type == "string") { #>
            if (<#= TableSingleName #> != null && !string.IsNullOrWhiteSpace(<#= TableSingleName #>.<#= UpdateParameterName.Replace("_", "") #>) && <#= TableSingleName #>.IsFull())
<# } #>
<# if (Columns.Find(x => x.Name == UpdateParameterName).Type != "string") { #>
            if (<#= TableSingleName #> != null && <#= TableSingleName #>.<#= HandleCorrectCheckParamerter(UpdateParameterName).Replace("_", "") #> && <#= TableSingleName #>.IsFull())
<# } #>
            {
                SqlConnection? Connection = null;
                SqlCommand? Command = null;

                try
                {
                    Connection = new SqlConnection(clsConnectionString.ConnectionString);

                    string UpdateQuery = @"update [<#= TableName #>] set 
<# for (short i = 0; i < Columns.Count; i++) { 
                                if (Columns[i].IsPrimaryKey)
                                            continue;#>
                             [<#= Columns[i].Name #>] = @<#= Columns[i].NameWithout_ #><#= (i < Columns.Count - 1) ? ", " : "" #>
<# } #>
                             where [<#= UpdateParameterName #>] = @<#= UpdateParameterName.Replace("_", "") #>;";

                    Command = new SqlCommand(UpdateQuery, Connection);

                    Command.Parameters.AddWithValue("@<#= UpdateParameterName.Replace("_", "") #>", <#= TableSingleName #>.<#= UpdateParameterName.Replace("_", "") #>);

<#= AddOrUpdateFunctionParamertersHandled(Columns) #>

                    await Connection.OpenAsync();

                    if (await Command.ExecuteNonQueryAsync() > 0)
                    {
                        return true;
                    }
                }
                catch (Exception ex)
                {
                    clsEventLog.WriteToEventLog(ex.Message, enLogType.Error);
                }
                finally
                {
                    if (Command != null)
                    {
                        Command.Dispose();
                    }

                    if (Connection != null)
                    {
                        Connection.Close();
                        Connection.Dispose();
                    }
                }
            }

            return false;
        }
<# } #>

<# if (IncludeFind) { #>
        public static async Task<cls<#= TableSingleName #>?> FindAsync(<#= HandleParameter(FindParameterName).Replace("_", "") #>)
        {
            if (<#= HandleCorrectCheckParamerter(FindParameterName).Replace("_", "") #>)
            {
                SqlConnection? Connection = null;
                SqlCommand? Command = null;
                SqlDataReader? Reader = null;

                try
                {
                    Connection = new SqlConnection(clsConnectionString.ConnectionString);

                    string FindQuery = @"select * from [<#= TableName #>] where [<#= FindParameterName #>] = @<#= FindParameterName.Replace("_", "") #>;";

                    Command = new SqlCommand(FindQuery, Connection);

                    Command.Parameters.AddWithValue("@<#= FindParameterName.Replace("_", "") #>", <#= FindParameterName.Replace("_", "") #>);

                    await Connection.OpenAsync();

                    Reader = await Command.ExecuteReaderAsync();

<#= FindOrGetAllFunctionColumnOrdinalHandled(Columns) #>
                    if (await Reader.ReadAsync())
                    {
                        return new cls<#= TableSingleName #>
                        {
<#= FindOrGetAllFunctionParamertersHandled(Columns) #>
                        };
                    }
                }
                catch (Exception ex)
                {
                    clsEventLog.WriteToEventLog(ex.Message, enLogType.Error);
                }
                finally
                {
                    if (Reader != null)
                    {
                        Reader.Close();
                        Reader.Dispose();
                    }

                    if (Command != null)
                    {
                        Command.Dispose();
                    }

                    if (Connection != null)
                    {
                        Connection.Close();
                        Connection.Dispose();
                    }
                }
            }

            return  null;
        }
<# } #>

<# if (IncludeGetAll) { #>
        public static async Task<List<cls<#= TableSingleName #>>?> GetAll<#= TableName #>Async()
        {
            SqlConnection? Connection = null;
            SqlCommand? Command = null;
            SqlDataReader? Reader = null;

            List<cls<#= TableSingleName #>>? ListOf<#= TableName #> = null;

            try
            {
                Connection = new SqlConnection(clsConnectionString.ConnectionString);

                string GetAllQuery = @"select * from [<#= TableName #>];";

                Command = new SqlCommand(GetAllQuery, Connection);

                await Connection.OpenAsync();

                Reader = await Command.ExecuteReaderAsync();

                if (Reader.HasRows)
                {
                    ListOf<#= TableName #> = new List<cls<#= TableSingleName #>>();

<#= FindOrGetAllFunctionColumnOrdinalHandled(Columns) #>
                    while (await Reader.ReadAsync())
                    {
                        ListOf<#= TableName #>.Add(new cls<#= TableSingleName #>
                        {
<#= FindOrGetAllFunctionParamertersHandled(Columns) #>
                        });
                    }
                }
            }
            catch (Exception ex)
            {
                clsEventLog.WriteToEventLog(ex.Message, enLogType.Error);
            }
            finally
            {
                if (Reader != null)
                {
                    Reader.Close();
                    Reader.Dispose();
                }

                if (Command != null)
                {
                    Command.Dispose();
                }

                if (Connection != null)
                {
                    Connection.Close();
                    Connection.Dispose();
                }
                
            }

            return ListOf<#= TableName #>;
        }
<# } #>

<# if (IncludeDelete) { #>
        public static async Task<bool> DeleteAsync(<#= HandleParameter(DeleteParameterName).Replace("_", "") #>)
        {
            if (<#= HandleCorrectCheckParamerter(DeleteParameterName).Replace("_", "") #>)
            {
                SqlConnection? Connection = null;
                SqlCommand? Command = null;

                try
                {
                    Connection = new SqlConnection(clsConnectionString.ConnectionString);

                    string DeleteQuery = "delete from [<#= TableName #>] where [<#= DeleteParameterName #>] = @<#= DeleteParameterName.Replace("_", "") #>;";

                    Command = new SqlCommand(DeleteQuery, Connection);

                    Command.Parameters.AddWithValue("@<#= DeleteParameterName.Replace("_", "") #>", <#= DeleteParameterName.Replace("_", "") #>);

                    await Connection.OpenAsync();

                    return await Command.ExecuteNonQueryAsync() > 0;
                }
                catch (Exception ex)
                {
                    clsEventLog.WriteToEventLog(ex.Message, enLogType.Error);
                }
                finally
                {
                    if (Command != null)
                    {
                        Command.Dispose();
                    }

                    if (Connection != null)
                    {
                        Connection.Close();
                        Connection.Dispose();
                    }
                }
            }

            return false;
        }
<# } #>

<# if (IncludeExist) { #>
        public static async Task<bool> IsExistAsync(<#= HandleParameter(ExistParameterName).Replace("_", "") #>)
        {
            if (<#= HandleCorrectCheckParamerter(ExistParameterName).Replace("_", "") #>)
            {
                SqlConnection? Connection = null;
                SqlCommand? Command = null;
                SqlDataReader? Reader = null;

                try
                {
                    Connection = new SqlConnection(clsConnectionString.ConnectionString);

                    string FindQuery = "select [<#= ExistParameterName #>] from [<#= TableName #>] where [<#= ExistParameterName #>] = @<#= ExistParameterName.Replace("_", "") #>;";

                    Command = new SqlCommand(FindQuery, Connection);

                    Command.Parameters.AddWithValue("@<#= ExistParameterName.Replace("_", "") #>", <#= ExistParameterName.Replace("_", "") #>);

                    await Connection.OpenAsync();

                    Reader = await Command.ExecuteReaderAsync();

                    if (Reader.HasRows)
                    {
                        return true;
                    }
                }
                catch (Exception ex)
                {
                    clsEventLog.WriteToEventLog(ex.Message, enLogType.Error);
                }
                finally
                {
                    if (Reader != null)
                    {
                        Reader.Close();
                        Reader.Dispose();
                    }

                    if (Command != null)
                    {
                        Command.Dispose();
                    }

                    if (Connection != null)
                    {
                        Connection.Close();
                        Connection.Dispose();
                    }
                }
            }

            return false;
        }
<# } #>

        // Never delete this comment
        // [EXTRA_METHODS_HERE]

<# if (!IsAppendMode) { #>
    }
}
<# } #>

<#+

public string TableName { get; set; } = "";
public string NamespaceName { get; set; } = "";
public List<clsColumnDataDataAccessLayer> Columns { get; set; }
public string ModulesLayerNameSpace { get; set; } = "";
public string TableSingleName { get; set; } = "";

public bool IncludeAdd { get; set; }
public bool IncludeUpdate { get; set; }
public bool IncludeFind { get; set; }
public bool IncludeExist { get; set; }
public bool IncludeGetAll { get; set; }
public bool IncludeDelete { get; set; }

public bool IsAppendMode { get; set; } = false;

private string _updateParameterName = "";
public string UpdateParameterName 
{ 
    get { return _updateParameterName; } 
    set
    {
        _updateParameterName = value;
        _updateParameterName = Columns.Find(x => x.Name == _updateParameterName) == null ? Columns[0].Name : _updateParameterName;
    }
}

private string _findParameterName = "";
public string FindParameterName 
{ 
    get { return _findParameterName; } 
    set
    {
        _findParameterName = value;
        _findParameterName = Columns.Find(x => x.Name == _findParameterName) == null ? Columns[0].Name : _findParameterName;
    }
}

private string _existParameterName = "";
public string ExistParameterName 
{ 
    get { return _existParameterName; } 
    set
    {
        _existParameterName = value;
        _existParameterName = Columns.Find(x => x.Name == _existParameterName) == null ? Columns[0].Name : _existParameterName;
    }
}

private string _deleteParameterName = "";
public string DeleteParameterName 
{ 
    get { return _deleteParameterName; }
    set
    {
        _deleteParameterName = value;
        _deleteParameterName = Columns.Find(x => x.Name == _deleteParameterName) == null ? Columns[0].Name : _deleteParameterName;
    }
}

private List<string> DataTypesWithoutString = new List<string> { "int", "double", "float", "short", "decimal", "long", "byte", "DateTime", "bool" };
private List<string> DataTypesWithoutStringAndDateTimeAndBoolan = new List<string> { "int", "double", "float", "short", "decimal", "long", "byte" };


public string HandleParameter(string ParameterName)
{
     clsColumnDataDataAccessLayer Col = Columns.Find(x => x.Name == ParameterName);

     if (Col != null)
     {
         return Col.Type + " " + ParameterName;
     }
     else
     {
         return "";
     }
}

public string HandleCorrectCheckParamerter(string ParameterName)
{
    clsColumnDataDataAccessLayer Col = Columns.Find(x => x.Name == ParameterName);
    
    if (Col != null)
    {
        if (DataTypesWithoutStringAndDateTimeAndBoolan.Contains(Col.Type))
        {
            return ParameterName + " > 0";
        }
        else if (Col.Type == "DateTime")
        {
            return ParameterName + " != default";
        }
        else
        {
            return "!string.IsNullOrWhiteSpace(" + ParameterName + ")";
        }
    }

    return "";
}

public string AddOrUpdateFunctionParamertersHandled(List<clsColumnDataDataAccessLayer> Columns)
{
    string Value = "";
    string Space = "\t\t\t\t\t";
    Value += Space;

    for (short i = 0; i < Columns.Count; i++)
    {
        if (Columns[i].IsPrimaryKey)
            continue;

        if (Columns[i].IsNullable && Columns[i].Type == "string")
        {
            Value += $"Command.Parameters.AddWithValue(\"@{Columns[i].NameWithout_}\", string.IsNullOrWhiteSpace({TableSingleName}.{Columns[i].NameWithout_}) ? DBNull.Value : {TableSingleName}.{Columns[i].NameWithout_});{GetCorrectEnd(i, Columns.Count, Space)}";
        }
        else if (Columns[i].IsNullable && Columns[i].Type != "string")
        {
            Value += $"Command.Parameters.AddWithValue(\"@{Columns[i].NameWithout_}\", {TableSingleName}.{Columns[i].NameWithout_} == null ? DBNull.Value : {TableSingleName}.{Columns[i].NameWithout_});{GetCorrectEnd(i, Columns.Count, Space)}";
        }
        else if (!Columns[i].IsNullable)
        {
            Value += $"Command.Parameters.AddWithValue(\"@{Columns[i].NameWithout_}\", {TableSingleName}.{Columns[i].NameWithout_});{GetCorrectEnd(i, Columns.Count, Space)}";
        }
    }

    return Value;
}

private string GetCorrectEnd(short i, int Count, string Space)
{
    return i + 1 == Count ? "" : $"\n{Space}";
}

public string FindOrGetAllFunctionColumnOrdinalHandled(List<clsColumnDataDataAccessLayer> Columns)
{
    string Value = "";
    string Space = "\t\t\t\t\t";
    Value += Space;

    for (short i = 0; i < Columns.Count; i++)
    {
        Value += $"byte {Columns[i].NameWithout_}Ordinal = (byte)Reader.GetOrdinal(\"{Columns[i].Name}\");\n{Space}";
    }

    return Value;
}

public string FindOrGetAllFunctionParamertersHandled(List<clsColumnDataDataAccessLayer> Columns)
{
    string Value = "";
    string Space = "\t\t\t\t\t\t\t";
    Value += Space;

    for (short i = 0; i < Columns.Count; i++)
    {
        if (Columns[i].IsNullable)
        {
            if (Columns[i].Type == "DateTime")
            {
                Value += $"{Columns[i].NameWithout_} = Reader.IsDBNull({Columns[i].NameWithout_}Ordinal) ? null : Reader.GetDateTime({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
            }
            else if (DataTypesWithoutString.Contains(Columns[i].Type))
            {
                Value += $"{Columns[i].NameWithout_} = Reader.IsDBNull({Columns[i].NameWithout_}Ordinal) ? null : ";
                
                if (Columns[i].Type == "int")
                {
                    Value += $"Reader.GetInt32({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "long")
                {
                    Value += $"Reader.GetInt64({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "bool")
                {
                    Value += $"Reader.GetBoolean({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "short")
                {
                    Value += $"Reader.GetInt16({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "float")
                {
                    Value += $"Reader.GetFloat({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "decimal")
                {
                    Value += $"Reader.GetDecimal({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "byte")
                {
                    Value += $"Reader.GetInt16({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "double")
                {
                    Value += $"Reader.GetDouble({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
            }
            else // if (Columns[i].Type = "string")
            {
                Value += $"{Columns[i].NameWithout_} = Reader.IsDBNull({Columns[i].NameWithout_}Ordinal) ? null : Reader.GetString({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
            }
        }
        else // (!Columns[i].IsNullable)
        {
            if (Columns[i].Type == "DateTime")
            {
                Value += $"{Columns[i].NameWithout_} = Reader.GetDateTime({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
            }
            else if (DataTypesWithoutString.Contains(Columns[i].Type))
            {                
                if (Columns[i].Type == "int")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetInt32({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "long")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetInt64({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "bool")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetBoolean({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "short")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetInt16({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "float")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetFloat({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "decimal")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetDecimal({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "byte")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetInt16({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
                else if (Columns[i].Type == "double")
                {
                    Value += $"{Columns[i].NameWithout_} = Reader.GetDouble({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
                }
            }
            else // if (Columns[i].Type = "string")
            {
                Value += $"{Columns[i].NameWithout_} = Reader.GetString({Columns[i].NameWithout_}Ordinal){GetCorrectEndFindOrGetAllFunction(i, Columns.Count, Space)}";
            }
        }
    }

    return Value;
}

private string GetCorrectEndFindOrGetAllFunction(short i, int Count, string Space)
{
    return i + 1 == Count ? "" : $",\n{Space}";
}

private string AddFunctionResultHandles()
{
    string Value = "";
    
    for (short i = 0; i < Columns.Count; i++) 
    { 
        if (Columns[i].IsPrimaryKey)
        { 
             Value += $"{TableSingleName}.{Columns[i].NameWithout_} = int.Parse(Obj.ToString() ?? \"0\");";
             break;
        }
    }

    if (string.IsNullOrWhiteSpace(Value)) 
    { 
        if (Columns[0].Type == "DateTime") 
        {
             Value += $"{TableSingleName}.{Columns[0].NameWithout_} = {Columns[0].Type}.Parse(Obj.ToString() ?? \"0001-1-1\");";
        }
        else if (Columns[0].Type == "string") { 
             Value += $"{TableSingleName}.{Columns[0].NameWithout_} = Obj as string ?? \"\";";
        } 
        else // (Columns[0].Type != "DateTime" && Columns[0].Type != "string") 
        {
             Value += $"{TableSingleName}.{Columns[0].NameWithout_} = {Columns[0].Type}.Parse(Obj.ToString() ?? \"0\");";
        }
    }

    return Value;
}

#>